# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/src/data/admins.js
/src/data/contributors.js
/src/data/departments.js
/src/data/editors.js
/src/data/users.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
